<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <!--Correct connection string-->
      <add name="WeatherHelperDatabase" connectionString="Data Source=.\sqlexpress;Initial Catalog=WeatherHelper;Persist Security Info=True;User ID=lichain;Password=1q2w3e4r``" providerName="System.Data.SqlClient" />
      
      <!--Incorrect connection string-->
      <!--<add name="WeatherHelperDatabase" connectionString="Data Source=.\errorsql;Initial Catalog=WeatherHelper;Persist Security Info=True;User ID=lichain;Password=1q2w3e4r``" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>
