@{
        ViewBag.Title = "Advanced Query";
}

<h2>Advanced Query</h2>

<select id="county">
<option value="10017">基隆市</option>
<option value="63000">臺北市</option>
<option value="65000">新北市</option>
<option value="10003">桃園縣</option>
<option value="10018">新竹市</option>
<option value="10004">新竹縣</option>
<option value="10005">苗栗縣</option>
<option value="66000">臺中市</option>
<option value="10007">彰化縣</option>
<option value="10008">南投縣</option>
<option value="10009">雲林縣</option>
<option value="10020">嘉義市</option>
<option value="10010">嘉義縣</option>
<option value="67000">臺南市</option>
<option value="64000">高雄市</option>
<option value="10013">屏東縣</option>
<option value="10014">臺東縣</option>
<option value="10015">花蓮縣</option>
<option value="10002">宜蘭縣</option>
<option value="10016">澎湖縣</option>
<option value="9020">金門縣</option>
<option value="9007">連江縣</option>
</select>


<select id="town">
    <script language="JavaScript">        show_town(10017, 1001704);</script>
    <option value="1001704">仁愛區</option>
    <option value="1001707">信義區</option>
    <option value="1001701">中正區</option>
    <option value="1001705">中山區</option>
    <option value="1001706">安樂區</option>
    <option value="1001703">暖暖區</option>
    <option value="1001702">七堵區</option>
</select>

<select id="town">
    <script language="JavaScript">show_town(63000, 6300500);</script>
    <option value="6300500">中正區</option>
    <option value="6300600">大同區</option>
    <option value="6300400">中山區</option>
    <option value="6300100">松山區</option>
    <option value="6300300">大安區</option>
    <option value="6300700">萬華區</option>
    <option value="6300200">信義區</option>
    <option value="6301100">士林區</option>
    <option value="6301200">北投區</option>
    <option value="6301000">內湖區</option>
    <option value="6300900">南港區</option>
    <option value="6300800">文山區</option>
</select>